
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^likereales\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.likereales\.com$
RewriteRule ^/?$ "https\:\/\/likereales\.com\/" [R=301,L]

